{% extends 'app_web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
</head>
<body>
	

	<div class='container my-5'>

		<div class='card' style='margin-top: 100px;'>
			<div class='card-body' style='font-size:70px; font-family: "Baskerville"'>
				<strong>Hello,</strong> I'm <em>Archit Shekhawat.</em> <br> A developer currently working as a freelance.
			</div>
		</div>

	</div>
	
</body>
</html>

{% endblock content %}